---
title: About Tyro
linkTitle: About
menu:
  main:
    weight: 10

---

{{< blocks/cover title="About TDF" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
The Tyro Delivery Framework (TDF) brings the right people together to
  collaboratively achieve key outcomes that prioritise and deliver value
  to customers.
  
  Although the audience of the TDF is intended for internal use, we
  decided to share publicly how we build our Technology at Tyro as a
  useful resource for others.{{% /blocks/lead %}}

{{% blocks/lead %}}
<h1 class="text-center">Life at Tyro</h1>
<P>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/o-FRJNerFEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</P>
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
  <h1 class="text-center">Women of Tyro</h1>
  <P class="text-center"> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5FrOATxaKpI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </P>
  </div>

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Our Company Values</h1>
<P class="text-center"> 
 <img src="tyro-values.png"> </P>
</div>

{{< /blocks/section >}}


